<footer><nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <h6 class="display-10 navbar-text">&copy;Copyright 2022.All Rignts reserved.</h6>>
    </div>
  </nav>
</footer>